
.uppercontainer{
    position: relative;
}
.upper{
    height: 40px;
    width: 40px;
    background-color:var(--secondary-color);
    border-radius: 50%;
    position:absolute;
    top: 25px;
    right: 50px;
    bottom: 0;
}

/* .upper:hover{
    transition: 10s;
} */

.footerform button:hover{
   
    filter: brightness(80%);
    transition: .5s;   
}
button:hover{
   
    filter: brightness(80%);
    transition: .5s;   
}
html {
    scroll-behavior: smooth;
  
}

/* .footerform .footerinput{
    background-color: black;
    border: 1px solid var(--primary-color);
}
.footerform .footerinput:focus{
    background-color: black;
    color: var(--secondary-color);
    border: 1px solid var(--primary-color) ;
}
.footerform .footerinput::placeholder{
    color:var(--text-color);
}
.footerform .footerinput{
    color:var(--secondary-color);
  }
  

.footerinput:focus {
    outline: none !important;  
    box-shadow: none !important;
  } */


.icon-container {
    width: 40px;  
    height: 40px; 
    border: 1px solid var(--primary-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
  }
.icon-container:hover{
    background-color: var(--primary-color);
    border: none;
    transition: 0.5s !important;
}
  


