.tailorsform .tailorsinput::placeholder{
    font-size: 12px;
}

.tailorsform .tailorsinput:focus{
   border: none;
   outline: none;
}

.tailorsform .tailorstextarea::placeholder{
    padding-left: 5px;
    padding-top: 5px;
}

  @media (min-width:1200px){
    .onetext{
      font-size: 50px;
   
    }
  }
  
  @media (min-width:768px) and (max-width:1200px) {
    .onetext{ 
      font-size: 40px;
  
    }
  }
  @media (max-width:767px){
    .onetext{
  
      font-size: 30px;
    }
  }