
@media (min-width:1200px){
  .partnertext{
    font-size: 50px;
 
  }
}

@media (min-width:768px) and (max-width:1200px) {
  .partnertext{ 
    font-size: 40px;

  }
}
@media (max-width:767px){
  .partnertext{

    font-size: 30px;
  }
}



/* swiper */

 
@media (min-width:768px) {
  .partnerswiper{
    min-height: 180px !important; 
  }
  
} 
@media (min-width:375px) and (max-width:767px) {
  .partnerswiper{
    min-height: 170px !important; 
  }
  
}  
@media (max-width:374px){
  .partnerswiper{
    min-height: 190px !important; 
  }
  
}




 
 


