@media (min-width:1400px){
    .tailorsh1{
        font-size: 80px;
        
    }
    .tailorsp{
       font-size: 32px;
    }
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .homeform::placeholder{
    color: var(--secondary-color) !important;
  }

  @media (max-width:576px){
    .homeform::placeholder{
        font-size:13px !important;
      }
  }

  .homeform:focus{
    outline: none !important;  
    box-shadow: none !important;
    border: 1px solid  var(--secondary-color) !important;
  }
  .homeform{
    color: white !important;
    border: 1px solid  var(--secondary-color) !important;
  }

  .homebutton{
    border: 1px solid  var(--primary-color) !important;
    color: white;
    background-color: var(--primary-color);
  }
  .homebutton:hover{
  background-color: var(--primary-color) !important;
  transition: 0.5s !important;
  }

@media (max-width:1399px) and (min-width:1200px){
    .tailorsh1{
         font-size: 60px;
        }
        .tailorsp{
            font-size: 22px;
           
        }
    }
    
    @media (max-width:1199px) and (min-width:992px){
        .tailorsh1{
            font-size: 50px;
        }
        .tailorsp{
            font-size: 20px;
           
        }
    }
    
    @media (max-width:991px) and (min-width:768px){
        .tailorsh1{
            font-size: 45px;
        }
        .tailorsp{
            font-size: 18px;
        
        }
    }
    
    @media (max-width:767px) and (min-width:576px){
        .tailorsh1{
            font-size: 35px;
        }
        .tailorsp{
            font-size: 15px;
      
        }
    }
    
    @media (max-width:575px){
        .tailorsh1{
         font-size: 30px;
    }
    .tailorsp{
        font-size: 14px;
     }
}


@media (min-width:768px){
    .tailored{
        width: 100%;
        height: 450px !important;
    }
}
@media (max-width:767px){
    .tailored{
        width: 100%;
        height: 300px !important;
    }
}



/* spin  */

.icon-spin{
    animation: rotate 2s infinite ease-in-out;
}
@keyframes rotate {
    0%,100%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(-10px)
    }
}


/* swiper */


  
  /* Responsive styling */
  @media (max-width: 767px) {
    .homeswiper {
      height: 250px !important;
    }
  }
  
  @media (min-width: 768px) {
    .homeswiper {
      height: 270px !important;
    }
  }
  /*  */

.testimonial-text{
  height: 120px;
  overflow-y: scroll;
  text-overflow: ellipsis;
}


/*  */
  


.swiper-button-next, .swiper-button-prev {
    color: var(--primary-color)!important;  
  }
  
  
  .swiper-button-next:hover, .swiper-button-prev:hover {
    color: var(--text-color) !important; 
    transition: 0.5s;
}

.swiper-button-next {
    right: -1px !important;  
  }
  
  .swiper-button-prev {
    left: -1px !important;  
  }