@media (min-width:1400px){
    .tailorsh1{
        font-size: 80px;
        /* color: red; */
        
    }
    .tailorsp{
       font-size: 32px;
       /* padding-top: 50px;
       padding-bottom: 50px; */
    }
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .forms::placeholder{
    color: white !important;
  }
  .forms:focus{
    color: white !important;
  }
@media (max-width:1399px) and (min-width:1200px){
    .tailorsh1{
         font-size: 60px;
        }
        .tailorsp{
            font-size: 22px;
            /* padding-top: 40px;
            padding-bottom: 40px; */
        }
    }
    
    @media (max-width:1199px) and (min-width:992px){
        .tailorsh1{
            font-size: 50px;
        }
        .tailorsp{
            font-size: 20px;
            /* padding-top: 30px;
            padding-bottom: 30px; */
        }
    }
    
    @media (max-width:991px) and (min-width:768px){
        .tailorsh1{
            font-size: 45px;
        }
        .tailorsp{
            font-size: 18px;
            /* padding-top: 25px;
            padding-bottom: 25px; */
        }
    }
    
    @media (max-width:767px) and (min-width:576px){
        .tailorsh1{
            font-size: 35px;
        }
        .tailorsp{
            font-size: 15px;
            /* padding-top: 20px;
            padding-bottom: 20px; */
        }
    }
    
    @media (max-width:575px){
        .tailorsh1{
         font-size: 30px;
    }
    .tailorsp{
        font-size: 14px;
     }
}


@media (min-width:768px){
    .tailored{
        width: 100%;
        height: 450px !important;
    }
}
@media (max-width:767px){
    .tailored{
        width: 100%;
        height: 300px !important;
    }
}