@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
  --primary-color:#ff7b7b;
  --secondary-color:white;
  --text-color:#c4c4c5;
  --bg-color:#0f0e15;
  --secondary-bg-color:#151515;
}

[data-theme="light"]{
  --primary-color:#d3b367;
  --secondary-color:#393938;
  --text-color:#5e5e5e;
  --bg-color:#ffffff;
  --secondary-bg-color:#22201c;
}



html, body {
  overflow-x: hidden;
  overflow-y: auto;
}
img {
  max-width: 100%;
  height: auto;
}

.swiper-container {
  overflow-x: hidden;
}

  body{
    background-color: var(--bg-color) !important;
} 


.formsform .formsinput{
  background-color: var(--secondary-bg-color);
  border: 1px solid gray;
}
.formsform .formsinput:focus{
  background-color: black;
  color: var(--secondary-color);
  border: 1px solid gray;
}
.formsform .formsinput::placeholder{
  color:var(--text-color);
}
.formsform .formsinput{
  color: var(--secondary-color);
}


.formsbutton{
  border: 1px solid var(--primary-color) !important;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.formsbutton:hover{
background-color: var(--primary-color) !important;
transition: 0.5s !important;
}


.formsinput:focus {
  outline: none !important;  /* Removes the outline */
  box-shadow: none !important; /* Removes the box-shadow */
}

@media (min-width:1200px){
  .displaytext{
    font-size:35px;
 
  }
  .displaypara{
    font-size: 18px;
  }
}



