.input-container{
    position: relative;
}
.icon{
    position:absolute;
    top:50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--text-color);
}
.logininput::placeholder{
    padding-left: 20px;
    font-size: 14px;
}



